body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;
}

h3 {
	background-color: #444;
	padding: .3rem;
}

/* smartphone view */
@media (max-width: 577px) {
	img {
		width: 100%;
		margin-bottom: 1rem;
	}
}

/* computer/table view */
@media (min-width: 578px) {
	img {
		max-width: 30rem;
		display: block;
		margin-bottom: 1rem;
	}

	h3 {
		max-width: 30rem;
	}

	hr {
		max-width: 30rem;
		margin-left: 0;
	}
}